{% extends 'base.html.twig' %}

{% block title %}Ajouter un medecin{% endblock %}

{% block body %}


<div class="container form-group ">
    
    <h1 class="text-center">ajout medecin </h1>
    {{ form_start(form) }}
    {{ form_end(form) }} 
        
</div>
{% endblock %}